*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    background: #000;
    color: #000;
}
@media (max-width: 480px){
    .main-width{
        width: 100%;
    }
}
@media (min-width: 481px){
    .main-width{
        width: 480px;
    }
}
.main-width{
    height: 560px;
    background: whitesmoke;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 30px;
}
h1{
    color: navy;
    margin: 40px;
    padding-top: 40px;
    text-align: center;
}
label{
    display: block;
    text-align: center;
    height: 75px;

}
input{
    background: #000;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    height: 40px;
    width: 175px;
    text-align: center;
    margin: 5px;
}
input:focus{
    background: navy;
    outline: none;
}
input::-webkit-inner-spin-button{
    margin-right: 10px;
}
label span{
    position: absolute;
    margin-top: 15px;
    margin-left: 5px;
    color: navy;
    font-weight: 550;
}
#submitButton{
    width: 125px;
    background: navy;
    color: white;
}
#result{
    margin: 30px;
    background: navy;
    color: #fff;
    border-radius: 20px;
    line-height:40px;

}